#modal {
  width: 400px;
  z-index: 10;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  #modal {
    top: 26%;
  }
}
